/**
    Title: delreal-number-game.css
    Author: Hannah Del Real
    Date: 1/17/2023
    Description: CSS styling for delreal-number-game.html
*/
/** This is the recommended css styling for html forms with results. */
#container {
    padding: 10px;
}

#form-nmbr-gnrtr {
    width: 600px;
    margin: 3% auto 0;
}

#form-results-nmbr-gnrtr {
    width: 600px;
    margin: 3% auto 0;
}

/** This is the end of recommended css styling for html forms with results. */

body {
    margin: 0;
    font-family: "Oswald", Verdana, Arial, sans-serif;
}

.app-header {
    text-align: center;
    font-weight: 400;
}

#number-results {
    text-align: center;
    font-size: 28px;
}

p {
   text-align-last: left;
}
